{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="container-3">
<!--Documento che mostra i dettagli dell'account-->
<main class="main-2">
    <br>
    <br>
            <span class="btl-back" onclick=location.href='/'>&#8630; Back</span>
    <br>
    <br>

    <h6>Manage Account</h6>

                <div class="container">

                    <table class="table table-hover table-light">
                        <thead class="thead">
                        <tr>
                            <th scope="col" class="bg-warning">Username</th>
                            <th scope="col" class="bg-info">Password</th>
                            <th scope="col" class="bg-info">Birthday</th>
                            <th scope="col" class="bg-info">Cell</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                            <td>Mark</td>
                            <td>abcdef</td>
                            <td>10/06/96</td>
                            <td>3960010223</td>
                            </tr>
                            <tr>
                            <td>Jacob</td>
                            <td>abcdef</td>
                            <td>10/06/96</td>
                            <td>3360010223</td>
                        </tr>
                        <tr>
                            <td>Vincent</td>
                            <td>abcdef</td>
                            <td>10/06/96</td>
                            <td>3270010223</td>
                        </tr>
                </tbody>
            </table>
                <br>
                <br>
                <br>
            </div>
    </main>
</div>
</body>
</html>

{% endblock %}