@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

:root {
    --fontsize-base: 22px;
    --margin-small: 25px;
    --clr: #c0e83d;
    --clr2: #47c700;

}

body {
    background-color: whitesmoke;

}


header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 142px;
    padding-right: 142px;


}

header nav h1 {
    font-weight: 400;

}

header nav .tabs {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

header nav .tabs .tab {
    display: inline-block;
}

header nav .tabs .tab a[data-switcher] {
    display: inline-block;
    padding: 20px 30px;
    text-decoration: none;
    color: black;
    border-end-end-radius: 80%;
    border-end-start-radius: 10%;
    border-top-left-radius: 80%;
    background: transparent;
    cursor: pointer;
}

header nav .tabs .tab:hover a[data-switcher] {
    background-color: var(--clr);
}

header nav .tabs .tab.is-active a[data-switcher] {
    background-color: var(--clr);
    font-weight: 950;
    color: #0b8a79;
}

h1{
    font-family: 'Pacifico', cursive;
    color: var(--clr);
}

h4 {
    font-weight: bold;
    color: #0b8a79;

}

main {
    padding-left: 142px;
    padding-right: 142px;
}



.pages .page {
    display: none;
}

.pages .page.is-active {
    display: block;
}

.text{
    font-family: 'Varela Round', bold, sans-serif;
    font-size: large;
}

.card{
    box-shadow: 0.1rem 0.2rem #999999;
    background-color: #c0e83d;
}




.circle{
    width: 40vh;
    height: 40vh;
    position: center;

}

.outer{
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(0,0,0,0.15);
    background: linear-gradient(greenyellow,forestgreen);

}



.inner{
    height: 35vh;
    width: 35vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(0,0,0,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,0.7),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                -0px 12px 10px -10px rgba(0,0,0,0.05);
    background-image: linear-gradient(var(--clr) 0%,  var(--clr) 80%, yellowgreen 100%);
}



#coins-number{
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: darkslategrey;
}







/*Button Sign Up Style*/
.btl {
    background-color: #0ffff2;
    padding: 0.31rem 0.62rem;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0.93rem;
    box-shadow: 0 0.2rem #999;
    transition: .1s ease-in;
    margin: var(--margin-small);


}
.btl:hover{
    background-color: var(--clr2);
}
.btl:active{
    background-color: #0ffff8;
    box-shadow: 0 0.2rem #666;
    transform: translateY(0.25rem);
}

.minor {
    background-color: deeppink;
    padding: 0.31rem 0.62rem;
    font-size: 1.2rem;
    color: whitesmoke;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0.93rem;
    transition: .1s ease-in;
    margin: var(--margin-small);


}
.minor:hover{
    background-color: var(--clr2);
}
.minor:active{
    background-color: deeppink;
    box-shadow: 0 0.2rem #666;
    transform: translateY(0.25rem);
}


